faiss-cpu==1.7.4
Faker==20.1.0
favicon==0.7.0
fonttools==4.45.0
frozenlist==1.4.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
langchain==0.0.339
langsmith==0.0.66
lxml==4.9.3
openai==0.28.0
pyparsing==3.1.1
PyPDF2==3.0.1
st-annotated-text==4.0.1
streamlit==1.28.2
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
tenacity==8.2.3
tiktoken==0.5.1

